@tailwind base;
@tailwind components;
@tailwind utilities;

.toast-wrapper {
  position: absolute;
  right: 1rem;
  top: 1rem;
}

input {
  border-width: 2px !important;
}
input:focus {
  outline: none;
}


